*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_bg{
    width: 100vw;
    height: 100%;
    background-image: url(../img/cosmos.png);
    background-size: cover;
}

h3, p{
    font-family: "Roboto";
    color: #fff;
}


