*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_bg{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/cosmos.png);
    background-size: cover;
}

h3, p{
    font-family: "Roboto";
    color: #fff;
}


@media screen and (max-height: 800px){
    .main_bg{
      height: fit-content;
    }
}
